{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'font_awesome/fontawesome.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <title>Audiowurscht</title>
    </head>
    <body>
        <div class="container">
            {% include 'navbar.html' %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>