{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Audiowurscht</title>
    </head>
    <body>
        <div class="container">
            <div>
                <div class='menu'>
                    <h1 class='menuitem'>Audiowurscht</h1>
                    <a class='menuitem' href="/upload">Upload songs</a>
                    <a class='menuitem' href="/play">Play songs</a>
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>