{% extends 'index.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <div class="songlist">
            <div class="listitem">
                {% if my_songs %}
                <table>
                    <tr>
                        <th>Picture</th>
                        <th>Artist</th>
                        <th>Title</th>
                        <th>Album</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for song in my_songs %}
                        <tr>
                            <td><img class="band_picture" src="{{song.picture}}"></td>
                            <td><p>{{song.artist}}</p></td>
                            <td><p>{{song.title}}</p></td>
                            <td><p>{{song.album}}</p></td>
                            <td>
                                <div class="listitem">
                                    <button class="play_button" type="submit" name="play" value={{song.id}}>
                                        <i class="fa fa-play"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="listitem">
                                    <button class="play_button" type="submit" name="stop" value={{song.id}}>
                                        <i class="fa fa-stop" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="listitem">
                                    <button class="play_button" type="submit" name="pause" value={{song.id}}>
                                        <i class="fa fa-pause" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="listitem">
                                    <button class="play_button" type="submit" name="delete" value={{song.id}}>
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>You didn't upload any songs yet. Go on an <a href="/upload">upload</a> some.</p>
                {% endif %}
                </table>
            </div>
        </div>
    </div>
</form>
{% endblock %}
