{% extends 'index.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        {% for song in songs %}
        <div class="songlist">
            <div class="listitem">
                <p>{{song.name}}</p>
            </div>
            <div class="listitem">
                <button class="play" type="submit" name="play" value={{song.id}}>Play</button>
            </div>
            <div class="listitem">
                <button class="stop" type="submit" name="stop" value={{song.id}}>Stop</button>
            </div>
        </div>
        {% endfor %}
    </div>
</form>
{% endblock %}
