html, body {
    background-color: turquoise;
    height: 100%;
}

.container {
    width: 900px;
    margin: -10px auto 0 auto;
    background-color: deepskyblue;
    height: 100%;
}

.menu {
    display: flex;
    align-items: baseline;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    overflow: hidden;
    background-color: black;
}

.menu a {
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: darkslategrey;
    color: black;
}

.menuitem {
    display: flex;
    margin: 0 0 0 20px;
    color: white;
}

.songlist {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.listitem {
    display: flex;
    justify-self: center;
    margin: 0 10px 0 0;
}

button {
    display: block;
    width: 80px;
    height: 25px;
    background: #4E9CAF;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

button:hover {
    background: green;
    color: black;
}
