html, body {
    background-color: turquoise;
    height: 100%;
}

h1, h2, h3, h4, p {
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 900px;
    margin: -10px auto 0 auto;
    background-color: deepskyblue;
    height: max-content;
}

.menu {
    display: flex;
    align-items: baseline;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    overflow: hidden;
    background-color: #98dfff;
}

.menu a {
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    color: green;
}

.menuitem {
    display: flex;
    margin: 0 0 0 20px;
    color: black;
}

.logged_in {
    font-size: 12px;
    margin: 0 0 0 20px;
    color: black;
}

.songlist {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.listitem {
    display: flex;
    justify-self: center;
    margin: 0 10px 0 0;
}

button {
    display: block;
    width: 80px;
    height: 25px;
    background: #4E9CAF;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

button:hover {
    background: green;
    color: black;
}

.play_button {
    display: block;
    width: 40px;
    height: 25px;
    background: #4E9CAF;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

td {
    padding: 10px;
}

tr {
    padding: 10px;
}

.band_picture {
    width: 100%;
}